@tailwind base;
@tailwind components;
@tailwind utilities;

.hover-underline-animation {
    display: inline-block;
    position: relative;
}
  
.hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: #262626;
    transition: transform 0.25s ease-out;
}
  
.hover-underline-animation:hover::after {
    transform: scaleX(1);
}
  
.hover-underline-animation.left::after {
    transform-origin: bottom left;
}
/* imagtes sizes */
/* w92, w154, w185, w342, w500, w780, */